<h1>Show Page</h1>

Name: <%=@a.name  %><br>

Describe:  <%=@a.describe %>   <br>

Image  :  <br/>
            <%= image_tag @a.avatar.url,:size => "200x200" %>
            <%#= image_tag @a.avatar.url(:medium) %>
            <%#= image_tag @a.avatar.url(:thumb) %>


</br>
<%=link_to 'back',image_index_path %>